*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("wild-flowers-plant-summer-autumn-nature-background-banner-website-55976971.jpg");
    background-size:1550px
    color: white;
    background-repeat: no-repeat;
}
#top{
    margin-top: 20px;
    margin-left: 38%;
    margin-right: 30%;
}

main{
    text-align: center;
    margin: 50px 0px;
}
#search{
    font-size:30px;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    background-color: rgba(248, 223, 79, 0.836);
    font-family: monospace;
    text-transform: capitalize;
}
#search:focus{
    outline: none;
}
#search::placeholder{
    text-align: center;
}

main{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
main h2{
    margin-bottom: 25px;
}
main ul{
    text-align: left;
    background-color: rgba(226, 159, 159, 0.486);
    border-radius: 20px;
    padding: 20px;
    list-style: none;
    margin: 0% 30%;
    display: grid;
    grid-template-columns: auto auto;
}
main ul li{
    font-size: 20px;
    margin-bottom: 10px;
}